<mat-toolbar>
  <span>OPI-TEST ERIKA FERNANDA ORREGO GIRALDO</span>
</mat-toolbar>

<h1>Consulta aquí los viajes que necesitas</h1>
<div class="filter-container">
  <div class="add_filter_container">
    <button mat-mini-fab color="warn" (click)="onClickFilter()" class="button-filter">
      <mat-icon>add_circle</mat-icon>
    </button>
    <p>Add filter</p>
  </div>

  <section class="checkbox-section" *ngIf="click == true">
    <mat-checkbox (click)="showOrHideName()" [(ngModel)]="nameCheck" id="name-checked" checked="true">Name
    </mat-checkbox>
    <mat-checkbox (click)="showOrHideAge()" [(ngModel)]="ageCheck" id="age-checked" checked="true">Age</mat-checkbox>
    <mat-checkbox (click)="showOrHidePrice()" [(ngModel)]="priceCheck" id="price-checked" checked="true">Price
    </mat-checkbox>
    <mat-checkbox (click)="showOrHideFlight()" [(ngModel)]="flightCheck" id="flight-checked" checked="true">Flight
    </mat-checkbox>
    <mat-checkbox (click)="showOrHideDate()" [(ngModel)]="dateCheck" id="date-checked" checked="true">Date
    </mat-checkbox>
    <mat-checkbox (click)="showOrHideId()" [(ngModel)]="idCheck" id="id-checked" checked="true">Id</mat-checkbox>
    <mat-checkbox (click)="showOrHideDestiny()" [(ngModel)]="destinyCheck" id="destiny-checked" checked="true">Destiny
    </mat-checkbox>
  </section>
</div>

<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select (selectionChange)="filterChange()" [(ngModel)]="filterValue">
    <mat-option value="1">All</mat-option>
    <mat-option value="2"> Pilot greater than or equal yo 30 years</mat-option>
    <mat-option value="3">Pilot under 30 years</mat-option>
    <mat-option value="4">Price less or equal than 10</mat-option>
    <mat-option value="5">Price more than 10</mat-option>
    <mat-option value="6">To Arabia</mat-option>
  </mat-select>
</mat-form-field>

<div class="table_container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Pilot </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Destiny Column -->
    <ng-container matColumnDef="destiny">
      <th mat-header-cell *matHeaderCellDef> Destiny </th>
      <td mat-cell *matCellDef="let element"> {{element.destiny}} </td>
    </ng-container>

    <!-- Flight Column -->
    <ng-container matColumnDef="flight">
      <th mat-header-cell *matHeaderCellDef> Flight </th>
      <td mat-cell *matCellDef="let element"> {{element.flight}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
